@tailwind base;
@tailwind components;
@tailwind utilities;
.hi {
  color: wheat;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  line-height: 1;
}
body {
  font-family: "Roboto", sans-serif;
}
img {
  display: flex;
}
$color1: rgb(163, 149, 233);
$color1: rgb(135, 125, 195);
$color1: rgb(11, 17, 30);
$itemBG1: rgb(40, 40, 40);
$mainBG1: rgb(31, 16, 71);
$bg1: #eaf5f0;
$green1: rgb(111, 255, 183);
$green2: #4caf50;
$navlightbg: rgba(32, 32, 32, 0.884);
$naviocn: rgb(34, 34, 34);
$hexagon-size: 5rem;
$yn-gold: #dd8809;

$conrotate: 23deg;
$elzero: #2196f3;

@media (max-width: 767px) {
  :root {
    --hexagon-size: 1rem !important;
  }
}
//
@keyframes colorChange {
  0%,
  100% {
    background-color: rgb(31, 16, 71);
  }
  25% {
    background-color: rgb(46, 11, 49);
  }
  50% {
    background-color: rgb(10, 41, 12);
  }
  75% {
    background-color: rgb(12, 41, 49);
  }
}
//
//
.port {
  .port-con {
    .nav {
      z-index: 99999999;
      .nav-con {
        background-color: $navlightbg;
        * {
          transition: 0.3s;
        }
        .links {
          li {
            background-color: rgba(90, 90, 90, 0.188);
          }
          .active {
            border-color: white;
            color: white;
          }
        }
        > .about {
          background-color: $yn-gold;
          //background-color: rgb(255, 74, 19);
        }
        $dist-x: 50%;
        $dist-y: 50%;
        &:has(#contactBtn:hover) {
          .blobs {
            //width: 100%;height: 100%;
            height: 100%;
            animation: blobswidth 2s linear infinite;
          }
        }
        @keyframes blobswidth {
          0%,
          100% {
            width: 90%;
          }
          50% {
            width: 50%;
          }
        }
        .blobs {
          position: absolute;
          width: 0%;
          height: 0%;
          translate: 0% -50%;
          top: 50%;
          left: 10%;
          transition: 0.3s all;
          z-index: -1;
          .blob {
            position: absolute;
            background-color: $navlightbg;
            left: 10%;
            top: -5%;
            width: 80%;
            height: 110%;
            transition: 0.3s ease;
            font-size: 40px;
            border-radius: 50%;
            animation: blob-left-top-anim cubic-bezier(0.77, 0, 0.175, 1) 3s
              infinite;
            &:nth-child(2) {
              animation-name: blob-right-top-anim;
            }
            &:nth-child(3) {
              animation-name: blob-left-bottom-anim;
              animation-delay: 0.2s;
            }
            &:nth-child(4) {
              animation-name: blob-right-bottom-anim;
              animation-delay: 0.4s;
            }
            &:nth-child(5) {
              animation: none;
              position: relative;
              &:before {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -65%);
              }
            }
            @keyframes blob-left-top-anim {
              0%,
              100%,
              50% {
                transform: scale(1) translate(0, 0);
              }
              25% {
                transform: scale(0.5) translate(-$dist-x, -$dist-y);
              }
              75% {
                transform: scale(0.5) translate($dist-x, $dist-y);
              }
            }
            @keyframes blob-right-top-anim {
              0%,
              50%,
              100% {
                transform: scale(1) translate(0, 0);
              }
              35% {
                transform: scale(0.5) translate(0, -$dist-y);
              }
              85% {
                transform: scale(0.5) translate(0, $dist-y);
              }
            }
            @keyframes blob-left-bottom-anim {
              0%,
              50%,
              100% {
                transform: scale(1) translate(0, 0);
              }
              25% {
                transform: scale(0.5) translate(-$dist-x, 0);
              }
              75% {
                transform: scale(0.5) translate($dist-x, 0);
              }
            }
            @keyframes blob-right-bottom-anim {
              0%,
              50%,
              100% {
                transform: scale(1) translate(0, 0);
              }
              25% {
                transform: scale(0.5) translate($dist-x, -$dist-y);
              }
              75% {
                transform: scale(0.5) translate(-$dist-x, $dist-y);
              }
            }
          }
        }
      }
    }
    .main {
      background-color: rgb(34, 34, 34);
      position: relative;
      z-index: 1;
      .main-con {
        background-color: rgb(17, 17, 17);
        .color {
          background-color: rgb(17, 17, 17);
          animation: colorChange 10s linear infinite;
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(
              to bottom,
              rgba(17, 17, 17, 0.6),
              rgb(17, 17, 17)
            );
          }
        }
        .intro {
          max-width: 1650px;
          .name {
            z-index: 2;
            position: relative;
            @keyframes offercolor {
              0%,
              100% {
                color: rgb(133, 39, 27);
              }
              33% {
                color: rgb(136, 118, 14);
              }
              67% {
                color: rgb(63, 85, 28);
              }
            }
            @keyframes offerlayer {
              0% {
                left: -100%;
              }
              100% {
                left: 100%;
              }
            }
            p.offers {
              font-size: 1.4rem;
              position: relative;
              z-index: 1;
              span {
                color: rgb(255, 0, 157);
                position: relative;
                z-index: -2;
                animation: offercolor 12s linear infinite;
              }
              &::before {
                content: "";
                position: absolute;
                background: linear-gradient(
                  to right,
                  rgba(17, 17, 17, 0),
                  rgb(17, 17, 17, 0.8),
                  rgba(17, 17, 17, 0)
                );
                width: 100%;
                height: 100%;
                top: 0;
                z-index: -1;
                left: 0;
                animation: offerlayer 4s infinite;
              }
            }
          }
          .skills {
            .col {
              display: flex;
              flex-direction: column;
              gap: (0.5rem);
              position: relative;
              width: ($hexagon-size * 0.95);
              @media (max-width: 767px) {
                width: calc(4rem * 0.95);
              }
            }
            .col2,
            .col4 {
              top: ($hexagon-size / 2 + 0.25rem);
              @media (max-width: 767px) {
                top: calc(4rem / 2 + 0.25rem);
              }
            }
            &.active {
              .cust {
                $cust-delay: 0.06s;
                transform: translate(0, 0) rotate(0deg);
                -webkit-transform: translate(0, 0) rotate(0deg);
                .hexagon {
                  scale: 1;
                }
                &.cust1 {
                  transition-delay: $cust-delay;
                }
                &.cust2 {
                  transition-delay: calc(2.1 * $cust-delay);
                }
                &.cust3 {
                  transition-delay: calc(3.2 * $cust-delay);
                }
                &.cust4,
                &.cust12 {
                  transition-delay: calc(4.3 * $cust-delay);
                }
                &.cust5 {
                  transition-delay: calc(5.4 * $cust-delay);
                }
                &.cust6 {
                  transition-delay: calc(6.5 * $cust-delay);
                }
                &.cust7 {
                  transition-delay: calc(7.6 * $cust-delay);
                }
                &.cust8 {
                  transition-delay: calc(8.7 * $cust-delay);
                }
                &.cust9 {
                  transition-delay: calc(9.8 * $cust-delay);
                }
                &.cust10 {
                  transition-delay: calc(10.9 * $cust-delay);
                }
                &.cust11 {
                  transition-delay: calc(11 * $cust-delay);
                }
              }
            }
          }
        }
        .work {
          display: flex;
          flex-direction: column;
          background-color: #121212;
          .work-con {
            color: rgb(153, 153, 153);
            nav {
              border-bottom: 1px solid rgb(65, 65, 65);
              li {
                border-bottom: 5px solid transparent;
                transition: 0.3s;
                cursor: pointer;
              }
              li.active,
              li:hover {
                background-color: rgba(255, 255, 255, 0.151);
                border-color: #f09f00;
                color: white;
              }
            }
            > .box {
              .item {
                .tech span {
                  background-color: $yn-gold;
                  padding: 2px 3px;
                  border-radius: 2px;
                }
              }
            }
          }
        }
      }
    }
    .contact-blob {
      transition: 0.5s;
      width: 250px;
      height: 0;
      left: calc(50% - 125px);
      z-index: 999;
      border-radius: 50%;
      user-select: none;
      &.active {
        background-color: #121212;
        transform: .3s;
        color: rgba(229, 231, 235, 1);
        width: 100vw;
        height: 100vh;
        left: 0;
        bottom: 0;
        border-radius: 0%;
        user-select: auto;
      }
    }
  }
}
.slide-fade {
  opacity: 0;
  transition: 0.9s;
  &.fade-true {
    opacity: 1;
  }
}
//
.swiper {
  z-index: 99999 !important;
  width: 100%;
  height: fit-content;
}
.swiper1 {
  height: 100vh;
}
@keyframes rotate1 {
  to {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}
@keyframes move1 {
  0%,
  100% {
    translate: 150px 0;
  }
  25% {
    translate: 0 100px;
  }
  50% {
    translate: -150px 0;
  }
  75% {
    translate: 0 -100px;
  }
}

.cust {
  width: $hexagon-size;
  @media (max-width: 767px) {
    width: 4rem;
  }
  display: flex;
  justify-content: center;
  transform: translate(-100vw, 100vh) rotate(360deg);
  -webkit-transform: translate(-100vw, 100vh) rotate(360deg);
  color: white;
  transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.12, 0.31, 0.38, 1.35);
  &:hover {
    .hexagon {
      transform: rotate(30deg);
      .overlay {
        display: flex;
        span {
          display: none;
        }
      }
    }
    .hex-name {
      opacity: 1;
      bottom: 50%;
      transform: translate(-50%, 50%);
      -webkit-transform: translate(-50%, 50%);
      transition: 0.3s;
    }
  }
  .hexagon {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: ($hexagon-size * 0.645);
    height: $hexagon-size;
    border-radius: ($hexagon-size / 10);
    scale: 0.5;
    @media (max-width: 767px) {
      width: calc(4rem * 0.645);
      height: 4rem;
      border-radius: calc(4rem / 10);
    }
    transition: scale 0.7s 0.1s ease-in, transform 0.3s;
    background-image: none;
    position: relative;
    background-color: white;
    .overlay {
      display: none;
      position: absolute;
      height: ($hexagon-size * 1.2);
      width: ($hexagon-size * 1.2);
      @media (max-width: 767px) {
        height: (4rem * 1.2);
        width: (4rem * 1.2);
      }
      aspect-ratio: 1;
      transition: 0.3s;
      left: -43%;
      border-radius: 50%;
      top: -10%;
      background-color: rgba(17, 17, 17, 0.9);
      z-index: 99999;
      justify-content: center;
      align-items: center;
      span {
        margin-top: calc(2rem - 7px);
      }
    }
    &.learning {
      .overlay {
        display: flex;
      }
    }
    &:before,
    &:after {
      content: "";
      z-index: 2;
      display: block;
      position: absolute;
      width: inherit;
      height: inherit;
      background-image: inherit;
      background-color: inherit;
      border-radius: inherit;
    }
    &:before {
      transform: rotate(60deg);
    }
    &:after {
      transform: rotate(-60deg);
    }
    > img {
      position: relative;
      z-index: 399;
      width: 100%;
    }
  }
  .hex-name {
    position: absolute;
    width: fit-content;
    user-select: none;
    opacity: 0;
    bottom: 0;
    left: 50%;
    text-align: center;
    z-index: 99999999;
    &:hover {
      left: 50%;
      bottom: 50%;
    }
  }
  .hex1 {
    background-color: rgb(33, 150, 243);
  }
  .hex2 {
    background-color: rgb(255, 87, 34);
  }
  .hex3 {
    background-color: rgb(32, 35, 43);
  }
  .hex9 {
    background-color: rgb(49, 120, 198);
    img {
      width: 140%;
    }
  }
  .hex8 {
    background-color: #f0db4f;
  }
  .hex10 {
    background: #f05134;
  }
  .hex11 {
    background-color: rgb(127, 17, 249);
  }
  .hex12 {
    background-color: #193556;
  }
}
